<button ng-click="mc.showForm()" style="width: 100%;" ng-hide="mc.formShow">Show Add Movie Form</button>
<button ng-click="mc.showForm()" style="width: 100%;" ng-show="mc.formShow">Hide Add Movie Form</button>

<div id="movieForm" ng-show="mc.formShow">
    <form ng-submit="mc.addMovie(mc.movieIn)">
        <input type="text" placeholder="Title" ng-model="mc.movieIn.titleIn" required>
        <input type="text" placeholder="Description" ng-model="mc.movieIn.descriptionIn" id="descriptionBox" required>
        <select ng-model="mc.movieIn.ratingIn" required>
            <option value="" disabled selected>Choose Rating</option>
            <option value="G">G</option>
            <option value="PG">PG</option>
            <option value="PG-13">PG-13</option>
            <option value="R">R</option>
            <option value="NC-17">NC-17</option>
            <option value="Unrated">Unrated</option>
        </select>
        <input type="text" placeholder="Director" ng-model="mc.movieIn.directorIn" required>
        <input type="text" placeholder="Writer(s)" ng-model="mc.movieIn.writersIn" required>
        <input type="text" placeholder="Starring" ng-model="mc.movieIn.starringIn" required>
        <select ng-model="mc.movieIn.movieGenreIn" required>
            <option value="" disabled selected>Choose Genre</option>
            <option ng-repeat="genre in mc.genres" value="{{genre.id}}">{{genre.genre}}</option>
        </select>
        <input type="text" placeholder="Image URL" ng-model="mc.movieIn.imageIn" required>
        <input type="text" placeholder="Runtime (example: 120)" ng-model="mc.movieIn.runtimeIn" required>
        <input type="text" placeholder="Budget (example: 4000000)" ng-model="mc.movieIn.budgetIn" required>
        <label for="releaseDate">Release Date:</label>
        <input id="releaseDate" type="date" ng-model="mc.movieIn.dateIn" required>
        <input type="submit" value="Add Movie">
    </form>
</div>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Cover</th>
            <th class="forceWidth" ng-click="mc.orderBy('title')">Title</th>
            <th class="forceWidth">Description</th>
            <th ng-click="mc.orderBy('rating')">Rating</th>
            <th ng-click="mc.orderBy('director')">Director</th>
            <th ng-click="mc.orderBy('writers')">Writer(s)</th>
            <th ng-click="mc.orderBy('starring')">Starring</th>
            <th ng-click="mc.orderBy('genre')">Genre</th>
            <th ng-click="mc.orderBy('runtime')">Runtime</th>
            <th ng-click="mc.orderBy('budget')">Budget</th>
            <th ng-click="mc.orderBy('release_date')">Release Date</th>
            <th>Inputs</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="movie in mc.allMovies | orderBy : mc.orderVariable : mc.orderTrue">
            <td><img ng-src="{{movie.image_path}}" height="200" width="150"></td>
            <td class="forceWidth tableVertAlign">{{movie.title}}</td>
            <td class="forceWidth tableVertAlign">{{movie.description}}</td>
            <td class="tableVertAlign">{{movie.rating}}</td>
            <td class="tableVertAlign">{{movie.director}}</td>
            <td class="tableVertAlign">{{movie.writers}}</td>
            <td class="tableVertAlign">{{movie.starring}}</td>
            <td class="tableVertAlign">{{movie.genre}}</td>
            <td class="tableVertAlign">{{movie.runtime}} minutes</td>
            <td class="tableVertAlign">{{movie.budget | currency: $: 0}}</td>
            <td class="tableVertAlign" >{{movie.release_date | date}}</td>
            <td class="tableVertAlign"><button ng-click="mc.reMovie(movie)">Remove</button></td>
        </tr>
    </tbody>
</table>

<md-content class="md-padding" layout-xs="column" layout="row" layout-wrap>
    <div flex-xs flex-gt-xs="25" layout="column" ng-repeat="movie in mc.allMovies">
        <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch >
            <md-card-title>
                <md-card-title-text height="auto">
                    <span class="md-headline">{{movie.title}} ({{movie.release_date | date: "yyyy"}})</span>
                    <span class="md-subhead">Rated {{movie.rating}} | {{movie.runtime}} minutes | {{movie.budget | currency: $: 0}}</span>
                    <p>{{movie.description}}</p>
                    <span class="md-subhead">Director(s): {{movie.director}}</span>
                    <span class="md-subhead">Writer(s): {{movie.writers}}</span>
                    <span class="md-subhead">Starring: {{movie.starring}}</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-lg card-media" style="margin: 1px;"><img ng-src="{{movie.image_path}}" style="max-width: 100%; height: auto;"></div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-raised md-warn" ng-click="mc.reMovie(movie)">Remove</md-button>
            </md-card-actions>
        </md-card>
    </div>
</md-content>