<form ng-submit="mgc.addGenre(mgc.genreIn)">
    <input type="text" placeholder="Genre" ng-model="mgc.genreIn.genre" style="width:94%">
    <input type="submit" value="Add Genre">
</form>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Movie Genre</th>
            <th>Total Movies</th>
            <th>Inputs</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="genre in mgc.allGenres">
            <td>{{genre.genre}}</td>
            <td>{{genre.count}}</td>
            <td><button ng-click="mgc.removeMovieGenre(genre)">Remove</button></td>
        </tr>
    </tbody>
</table>