<h1>Movies</h1>
<form ng-submit="mc.addMovie(mc.movieIn)">
    <input type="text" placeholder="Title" ng-model="mc.movieIn.titleIn" required>
    <input type="text" placeholder="Description" ng-model="mc.movieIn.descriptionIn" required>
    <select ng-model="mc.movieIn.movieGenreIn" required>
        <option value="" disabled selected>Choose Genre</option>
        <option ng-repeat="genre in mc.genres" value="{{genre.id}}">{{genre.genre}}</option>
    </select>
    <input type="text" placeholder="Image" ng-model="mc.movieIn.imageIn" required>
    <label for="releaseDate">Release Date:</label>
    <input id="releaseDate" type="date" ng-model="mc.movieIn.dateIn" required>
    <input type="submit" value="Add Movie">
</form>
<table style="border: 1px solid black">
    <thead>
        <tr style="border: 1px solid black">
            <th>Title</th>
            <th>Description</th>
            <th>Genre</th>
            <th>Image Path</th>
            <th>Release Date</th>
            <th>Inputs</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="movie in mc.allMovies">
            <td>{{movie.title}}</td>
            <td>{{movie.description}}</td>
            <td>{{movie.genre}}</td>
            <td>{{movie.image_path}}</td>
            <td>{{movie.release_date | date}}</td>
            <td><button ng-click="mc.reMovie(movie)">Remove</button></td>
        </tr>
    </tbody>
</table>